= f.error_notification
.form-inputs
  = f.input :time
  = f.input :notes
  - @did.checkoffs.each do |c|
    = f.fields_for :checkoffs, c do |b|
      = f.label c.task.description
      = b.check_box :complete
      %br
.modal-footer
  %button.btn.btn-danger{"data-dismiss" => "modal", type: "button"} Cancel
  = f.button :submit, 'Submit', class: 'btn-success'
